Repository VerdigrisTech/nitrous: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts

Add lint-staged as dev dependency
  package-lock.json
  package.json
Due: prettier --write

Install husky
  package-lock.json
  package.json
Due: prettier --write

Add disclaimer
  README.md
Due: prettier --write

Initial contributing guideilnes
  CONTRIBUTING.md
Due: prettier --write

Change tags to sub
  README.md
Due: prettier --write

Update bug url
  package.json
Due: prettier --write

Update keywords
  package.json
Due: prettier --write

Ignore more files
  .npmignore
Due: none

Fix package scoping
  README.md
  package-lock.json
  package.json
  src/cache.ts
  src/driver.ts
  src/drivers/index.ts
  src/drivers/memcached.ts
  src/drivers/memory.ts
  src/drivers/redis.ts
  src/index.ts
  src/util.ts
Due: prettier --write, eslint --ext .ts

Publish as dry-run
  .github/workflows/release.yaml
Due: none

Point to master
  .github/workflows/release.yaml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

1.0.0
  package-lock.json
  package.json
Due: prettier --write

Update badges
  README.md
Due: prettier --write

Publish to GitHub package repository
  .github/workflows/release.yaml
Due: none

Pass registry as arg
  .github/workflows/release.yaml
Due: none

Use npm publish command
  .github/workflows/release.yaml
Due: none

Remove dry-run
  .github/workflows/release.yaml
Due: none

Create bug fix template
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
Due: prettier --write

Create new_feature.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
Due: prettier --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

Create .nojekyll
  .nojekyll
Due: none

Initial docs for v1.0.0
  assets/css/main.css
  assets/images/icons.png
  assets/images/icons@2x.png
  assets/images/widgets.png
  assets/images/widgets@2x.png
  assets/js/main.js
  assets/js/search.js
  classes/_verdigris_nitrous.cache-1.html
  classes/_verdigris_nitrous.driver-1.html
  classes/_verdigris_nitrous_drivers.memcached-1.html
  classes/_verdigris_nitrous_drivers.memory-1.html
  classes/_verdigris_nitrous_drivers.redis-1.html
  globals.html
  index.html
  modules/_verdigris_nitrous.html
  modules/_verdigris_nitrous_drivers.html
  modules/_verdigris_nitrous_util.html
Due: prettier --write

Link to API docs
  README.md
Due: prettier --write

Lazy load Memcached client
  src/drivers/memcached.ts
Due: prettier --write, eslint --ext .ts

Lazy load Redis client
  src/drivers/redis.ts
Due: prettier --write, eslint --ext .ts

Clarify lazy load method doc
  src/drivers/memcached.ts
  src/drivers/redis.ts
Due: prettier --write, eslint --ext .ts

Default codecov.yml
  codecov.yml
Due: none

1.0.1
  package-lock.json
  package.json
Due: prettier --write

Generate docs for v1.0.1
  assets/js/search.js
  classes/_verdigris_nitrous.cache-1.html
  classes/_verdigris_nitrous.driver-1.html
  classes/_verdigris_nitrous_drivers.memcached-1.html
  classes/_verdigris_nitrous_drivers.memory-1.html
  classes/_verdigris_nitrous_drivers.redis-1.html
  index.html
  modules/_verdigris_nitrous_drivers.html
  modules/_verdigris_nitrous_util.html
Due: prettier --write

Ensure we have proper NPM auth token before publish
  .github/workflows/release.yaml
Due: none

Add type definitions to regular dependencies
  package-lock.json
  package.json
Due: prettier --write

1.0.2
  package-lock.json
  package.json
Due: prettier --write

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Update eslint to 7.7.0
  package-lock.json
  package.json
Due: prettier --write

Upgrade to typescript 3.9.7
  package-lock.json
  package.json
Due: prettier --write

Upgrade to mocha 8.1.1
  package-lock.json
  package.json
Due: prettier --write

Update nyc to 15.1.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,md}
  eslint --ext .ts: any of: *.ts
