Repository VerdigrisTech/nitrous: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts

Define optionalDependencies
  package.json
Due: prettier --write

Marked optional
  package-lock.json
Due: prettier --write

Make memcached and redis type defs optional
  package.json
Due: prettier --write

Move Redis and Memcached drivers to separate repos
  src/drivers/index.ts
  src/drivers/memcached.ts
  src/drivers/redis.ts
  tests/drivers/test-memcached.ts
  tests/drivers/test-redis.ts
Due: prettier --write, eslint --ext .ts

Run release workflow on release publish
  .github/workflows/release.yaml
Due: none

Rename to NPM_AUTH_TOKEN
  .github/workflows/release.yaml
Due: none

Remove Node 8 and add Node 14
  .github/workflows/test.yaml
Due: none

Update supported Node versions
  package.json
Due: prettier --write

Rename workflow to test
  .github/workflows/test.yaml
Due: none

Update README
  README.md
Due: prettier --write

2.0.0
  package-lock.json
  package.json
Due: prettier --write

Export Memory driver class as default
  src/drivers/index.ts
  src/drivers/memory.ts
Due: prettier --write, eslint --ext .ts

Use TypeScript 3.8 re-export syntax
  src/index.ts
Due: prettier --write, eslint --ext .ts

Upgrade prettier to 2.1.1 to support TS 3.8+
  package-lock.json
  package.json
Due: prettier --write

Remove redis and memcached as optional dependenciesThese have been moved to separate repos
  package-lock.json
  package.json
Due: prettier --write

Fix the imports
  tests/drivers/test-memory.ts
  tests/test-cache.ts
Due: prettier --write, eslint --ext .ts

Fix imports
  src/cache.ts
Due: prettier --write, eslint --ext .ts

2.0.1
  package-lock.json
  package.json
Due: prettier --write

Expose underlying driver as getter
  src/cache.ts
Due: prettier --write, eslint --ext .ts

Add isConnected method
  src/driver.ts
  src/drivers/memory.ts
Due: prettier --write, eslint --ext .ts

2.1.0
  package-lock.json
  package.json
Due: prettier --write

Expand TypeScript examples
  README.md
Due: prettier --write

Fix link to driver pages
  README.md
Due: prettier --write

Define isClosed abstract getter property
  src/driver.ts
Due: prettier --write, eslint --ext .ts

Implement isClosed
  src/drivers/memory.ts
Due: prettier --write, eslint --ext .ts

2.2.0
  package-lock.json
  package.json
Due: prettier --write

Add isClosed
  src/cache.ts
Due: prettier --write, eslint --ext .ts

Revert "2.2.0"
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,md}
  eslint --ext .ts: any of: *.ts
